<!doctype html>
<html lang="{{.Site.Language.Lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ .Page.Title }}</title>

  <link rel="icon" type="image/x-icon" href="{{.Site.BaseURL}}favicon.svg">

  <!-- LIBS  -->
  <script src="{{.Site.BaseURL}}js/d3.v7.js"></script>
  <script src="{{.Site.BaseURL}}js/jquery-3.7.1.min.js"></script>

  <!-- REVEAL JS  -->
  <script src="{{.Site.BaseURL}}reveal/plugin/markdown/markdown.js"></script>
  <script src="{{.Site.BaseURL}}reveal/plugin/highlight/highlight.js"></script>
  <script src="{{.Site.BaseURL}}reveal/reveal.js"></script>
  <script src="{{.Site.BaseURL}}reveal/plugin/notes/notes.js"></script>
  <script src="{{.Site.BaseURL}}reveal/plugin/math/math.js"></script>
  <link rel="stylesheet" href="{{.Site.BaseURL}}reveal/reset.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}reveal/reveal.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}reveal/theme/black.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}reveal/plugin/highlight/monokai.css">

  <!-- CUSTOM  -->
  <link rel="stylesheet" href="{{.Site.BaseURL}}style.css" media="screen" type="text/css" />
  <script src="{{.Site.BaseURL}}js/tts.js"></script>
  <script src="{{.Site.BaseURL}}js/functions.js"></script>


</head>

<body>
  {{ partial "partials/nav.html" . }}
  <div class="reveal">

    <div class="slides">
      <section data-include="intro">
        {{ partial "partials/intro.html" . }}
      </section>
      <section data-include="theland">
        {{ partial "partials/theland.html" . }}
      </section>
      <section data-include="universal">
        {{ partial "partials/universal.html" . }}
      </section>
      <section data-include="manual">
        {{ partial "partials/manual.html" . }}
      </section>
      <section data-include="euler">
        {{ partial "partials/euler.html" . }}
      </section>
      <section data-include="ramanujan">
        {{ partial "partials/ramanujan.html" . }}
      </section>
      <section data-include="poems">
        {{ partial "partials/poems.html" . }}
      </section>
      <section data-include="conclusion">
        {{ partial "partials/conclusion.html" . }}
      </section>
    </div>
  </div>
  <script>

    // window.location.href = "#/intro";
    addAutoAnimate();
    halfLife(10);
    currency(0.1);

    Reveal.initialize({
      hash: true,
      loop: true,
      history: true,
      slideNumber: true,
      // center:true,
      // width: window.innerWidth,
      // height: window.innerHeight,
      history: true,
      progress: true,
      menu: {
        side: 'left'
      },
      // Learn about plugins: https://revealjs.com/plugins/
      plugins: [
        RevealMarkdown,
        RevealHighlight,
        RevealNotes,
        RevealMath
      ]
    });

    $(document).ready(function () {
      start(); 
    });

  </script>
</body>

</html>