<section data-auto-animate>
  <h4 data-id="code-title" >{{T "conclusion.1.title"}}</h4>
  <p >{{T "conclusion.1.subtitle"}}</p>
  <div class="r-hstack justify-left">
    <canvas id="quantitatif" width="400px" height="400px">
      Canvas not Supported
    </canvas>
    <canvas id="relatif" width="400px" height="400px">
      Canvas not Supported
    </canvas> 
  </div>
  <input class="hlcursor" type="range" min="1" max="100" value="10" step="0.001" 
  oninput="halfLife(this.value);currency(1/this.value)">
</section>

<section>
  <h4 data-id="code-title">{{T "conclusion.1.title"}}</h4>
  <p >{{T "conclusion.1.subtitle"}}</p>
  <div class="r-hstack justify-left">
    <canvas id="expdecay" width="400px" height="400px">
      Canvas not Supported
    </canvas>
    <canvas id="steadystate" width="400px" height="400px">
      Canvas not Supported
    </canvas>
  </div>
  <input class="hlcursor" type="range" min="1" max="100" value="10" step="0.001" 
  oninput="halfLife(this.value);currency(1/this.value)">
</section>

<section data-auto-animate>
  <h4 data-id="code-title" >{{T "conclusion.2.title"}}</h4>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/block1.png" width="500px" alt="">
  </div>
</section>