<section>
  <h2 data-id="code-title" >{{T "euler.1.title"}}</h2>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/cercletrigo.png" style="background: white; width: 300px;"/>
    <img src="{{.Site.BaseURL}}img/euler.jpg" style="background: white; width: 300px;"/>
    <!--
            <img src="{{.Site.BaseURL}}img/euleridentity.svg" style="background: white; width: 300px; height: 100px; margin: 10px;"/>
        -->
    <p style="text-align: left; white-space: none;">
      \[\begin{aligned}
      \ e^{ i\pi } + 1 = 0 \\
      \ e^{ \pm i\theta } = \cos \theta \pm i\sin \theta \\
      \end{aligned} \]
    </p>
    <!--         <script src="https://unpkg.com/function-plot/dist/function-plot.js"></script>-->
  </div>
  <p>
    0 ; 1 ; e ; i ;π ; * ; ^ ; +; =
  </p>
</section>

<section>
  <h2 data-id="code-title" >{{T "euler.2.title"}}</h2>
  <div class="r-hstack justify-left pushbot">
    <img src="{{.Site.BaseURL}}img/e.jpg" height="300px" class="withhover" alt="">
    <p class="hide ">
      \[\begin{aligned}
      \ e = \sum_{k=0}^{\infty} \frac{1}{k!} \\
      \end{aligned} \]
    </p>
    <img src="{{.Site.BaseURL}}img/EAreaPlot.svg" height="300px" class="withhover" style="background-color: white;">
    <p class="hide ">
      \[\begin{aligned}
      \ e = lim_{n\to\infty} (1 + \frac{1}{n})^n\\
      \end{aligned} \]
    </p>
  </div>
</section>

<section>
  <h2 data-id="code-title" >{{T "euler.3.title"}}</h2>
  <div class="r-hstack justify-left">
    <p class="withhover">
      imaginary like what?<br>
      like anything relative ?<br>
    </p>
    <p class="hide" >{{T "euler.3.detail"}}</p>
    <img src="{{.Site.BaseURL}}img/i-cycle-complex.svg" height="300px" class="withhover" style="background-color: white;">
    <p class="hide">wrap around the origin</p>
  </div>

</section>

<section>
  <h2 data-id="code-title" >{{T "euler.4.title"}}</h2>
  <img src="{{.Site.BaseURL}}img/spirals.png" height="364" width="711" class="withhover"/>
  <p class="hide">is not quite there</p>
</section>

<section>
  <h2 data-id="code-title" >{{T "euler.5.title"}}</h2>
  <img src="{{.Site.BaseURL}}img/pi.svg" style="background: white; width: 300px; height: 100px; margin: 10px;"/>
</section>