<section data-auto-animate>
  <h3 data-id="code-title">{{T "intro.title"}}</h3>
  <span>{{T "intro.subtitle"}}</span>
  <video autoplay class="gfm" height="500px" preload="metadata" data-title="speed_up" data-setup="{}" controls="true"
    src="{{.Site.BaseURL}}video/speed_up.mp4"></video>

  <p class="notes">{{T "intro.welcomeMsg"}}</p>
  <p class="notes">{{T "intro.howto"}}</p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "intro.tx.title"}}</h4>
  <div class="r-hstack  justify-left">
    <img src="{{.Site.BaseURL}}img/achord_tx.png" height="300px" class="r-stretch withhover" />
    <p class="hide">{{T "intro.tx.invariant"}}</p>
    <img src="{{.Site.BaseURL}}img/txs-tbl.png" height="300px" class="r-stretch withhover" />
    <p class="hide">{{T "intro.tx.tbl"}}</p>
    <img src="{{.Site.BaseURL}}img/chainedeblocs.jpg" height="300px" class="r-stretch withhover" />
    <p class="hide">{{T "intro.tx.chain"}}</p>
  </div>
  <p>{{T "intro.tx.detail"}}</p>
  <p class="notes">{{T "intro.tx.transaction"}}</p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "intro.acc.title"}}</h4>
  <span>{{T "intro.acc.subtitle"}}</span>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/achord_acc.png" class="r-stretch" />
    <img src="{{.Site.BaseURL}}img/chainedeblocs.jpg" class="r-stretch" />
  </div>
  <span>{{T "intro.acc.detail"}}</span>
  <p class="notes">{{T "intro.acc.accounting"}}</p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "intro.sig.title"}}</h4>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/achord_signal.png" height="400px" />
    <img src="{{.Site.BaseURL}}img/ft.png" height="400px" />
  </div>
  <span>{{T "intro.sig.detail"}}</span>
  <p class="notes">{{T "intro.sig.signal"}}</p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "intro.trm.title"}}</h4>
  <div class="r-hstack justify-left">
    <a target="_blank" href="https://monnaie-libre.fr/comprendre">
      <img src="{{.Site.BaseURL}}img/convergence-des-soldes.png" class="r-stretch" />
    </a>
    <a target="_blank" href="https://monnaie.ploc.be/trm-en-detail/">
      {{T "intro.trm.endetail"}}
    </a> 

  <p class="notes">{{T "intro.trm.note"}}</p>
  </div>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "intro.ss.title"}}</h4>
  <div class="r-hstack justify-left">
    <a target="_blank"
      href="https://www.linkedin.com/pulse/steady-state-economy-sustainable-economic-model-laura-vivas/">
      <img src="{{.Site.BaseURL}}img/steadystate.png" height="500px" />
    </a>
    <img src="{{.Site.BaseURL}}img/steady-transient.png" height="500px" />

  <p class="notes">{{T "intro.ss.note"}}</p>
  </div>
</section>