<section>
  <h4 data-id="code-title" >{{T "manual.1.title"}}</h4>
  <div>
    <img src="{{.Site.BaseURL}}img/rtfm.png" class="r-stretch withhover"/>
    <p class="hide" >{{T "manual.1.details"}}</p>
  </div>
</section>

<section>
  <h4 data-id="code-title" >{{T "manual.2.title"}}</h4>
  <ul>
    <li>1 Field</li>
    <li>1 Land</li>
    <li>1 Adjacency Matrix</li>
    <li>1 Harmonic oscillation</li>
    <li>1 is universal</li>
  </ul>
</section>

<section>
  <h4 data-id="code-title" >{{T "manual.3.title"}}</h4>
  <p >{{T "manual.3.details"}}</p>
  <div class="r-hstack justify-left">
    <div data-id="box1" class="box1"></div>
  </div>
</section>

<section>
  <h4 data-id="code-title">
    \[\begin{aligned}
    \ 1 Land = \sum_{}^{} Fields \\
    \end{aligned} \]
  </h4>
  <div class="r-hstack justify-left"> 
    <div data-id="box3" data-auto-animate-delay="0.3" class="box3">
    </div>
    <div data-id="box2" data-auto-animate-delay="0.2" class="box2">
    </div>
    <div data-id="box1" data-auto-animate-delay="0.1" class="box1">
    </div>
  </div>
  <p >{{T "manual.4.detail"}}</p>
</section>

<section>
  <h4 data-id="code-title" >{{T "manual.5.title"}}</h4>

  <div class="l-vstack">

    <div class="r-hstack justify-left">
      <div data-id="box1" data-auto-animate-delay="0.1" class="box1">
      </div>
      <div class="box13" data-auto-animate-delay="1.5">
      </div>
      <div class="box12" data-auto-animate-delay="1.5">
      </div>
      <div data-id="box1" class="box1" data-auto-animate-delay="0.8">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div data-id="box2" data-auto-animate-delay="0.2" class="box2">
      </div>
      <div class="box21" data-auto-animate-delay="1.5">
      </div>
      <div data-id="box2" class="box2" data-auto-animate-delay="0.8">
      </div>
      <div class="box23" data-auto-animate-delay="1.5">
      </div>
    </div>

    <div class="r-hstack justify-left">
      <div data-id="box3" data-auto-animate-delay="0.3" class="box3">
      </div>
      <div class="box3" data-auto-animate-delay="0.8">
      </div>
      <div class="box32" data-auto-animate-delay="1.5">
      </div>
      <div class="box31" data-auto-animate-delay="1.5">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div class="box0">
        <p>+ *</p>
      </div>
      <div class="box3">
      </div>
      <div class="box2">
      </div>
      <div class="box1">
      </div>
    </div>
  </div>
  <p>
    "Everything is relative"
  </p>
</section>

<section>
  <h4 data-id="code-title" >{{T "manual.6.title"}}</h4>

  <div class="l-vstack">

    <div class="r-hstack justify-left">
      <div data-id="box1" data-auto-animate-delay="0.1" class="box1">
      </div>
      <div class="box0" data-auto-animate-delay="1.5">
      </div>
      <div class="box0" data-auto-animate-delay="1.5">
      </div>
      <div class="box1">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div data-id="box2" data-auto-animate-delay="0.2" class="box2">
      </div>
      <div class="box0" data-auto-animate-delay="1.5">
      </div>
      <div class="box2">
      </div>
      <div class="box23">
      </div>
    </div>

    <div class="r-hstack justify-left">
      <div data-id="box3" data-auto-animate-delay="0.3" class="box3">
      </div>
      <div class="box3">
      </div>
      <div class="box32">
      </div>
      <div class="box31">
      </div>
    </div>
    <div class="r-hstack justify-left">
      <div class="box0">
        <p>+ * - /</p>
      </div>
      <div class="box3">
      </div>
      <div class="box2">
      </div>
      <div class="box1">
      </div>
    </div>
  </div>
  <p>
    for everything symetric
  </p>
</section>

<section>
  <h4 data-id="code-title" >{{T "manual.7.title"}}</h4>
  <div class="r-vstack">
    <div style="width:400px;height:400px;position:relative;">
      <div data-id="box1" class="pie1 hollow"> </div>
      <div data-id="box2" class="pie2 hollow"> </div>
      <div data-id="box3" class="pie3 hollow"><span>100%</span></div>
    </div>
    <p>
      1 = 100%
    </p>
  </div>

</section>

<section>
  <h4 data-id="code-title" >{{T "manual.8.title"}}</h4>
  <p>
    <img src="{{.Site.BaseURL}}img/harmonic-oscillator.png" height="500px"/>
  </p>
</section>

<section>
  <h4 data-id="code-title" >{{T "manual.9.title"}}</h4>
  <video loop autoplay class="gfm" class="r-stretch" preload="metadata" data-title="integrals" data-setup="{}" controls="true"
    src="{{.Site.BaseURL}}video/integrales.webm"></video>
  <p class="justify-center">
    discrete - continuous
    <br>
    reality
  </p>
</section>