<nav class="r-vstack">
  <span>Lang : </span>
  {{ range .Translations }}
  <a href="{{ .Permalink }}">{{ .Lang }}</a>
  {{ end }}

  <label for="sound">Sound</label>
  <input id="sound" type="checkbox" onclick="tts.ToggleSpeech()">
  <a href="javascript:this.start();" onclick="start()"><span>start</span></a>
</nav>

<style>
  nav {
    position: absolute;
    top: 10;
    left: 10;
    z-index: 1;

  }

  nav>label, a, span {
    margin-left: 10px;
    color: beige;
    font-size: 16;
  }
</style>