<section data-auto-animate>
  <h4 data-id="code-title">Literature</h4>

  <a href="http://pombo.free.fr/daly1991.pdf">
    <img src="{{.Site.BaseURL}}img/hermandaly.jpeg" />
  </a>

</section>

<section data-auto-animate>
  <h4 data-id="code-title">Lecture</h4>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/rAXPLfiHP2g?si=sAosaQannH9EMpAw"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>