<section data-auto-animate>
  <h4 data-id="code-title">{{T "land.1.title"}}</h4>
  <div class="r-hstack justify-left">
    <p class="withhover ws">{{T "land.1.question"}}</p>
    <p class="hide">{{T "land.1.hide"}}</p>
    <img src="{{.Site.BaseURL}}img/streamoflife.png" height="500px" />
  </div>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "land.2.title"}}</h4>
  <p class="ws">
    {{T "land.2.detail"}}
  </p>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "land.3.title"}}</h4>
  <div class="r-hstack justify-left">
    <p class="ws">
      {{T "land.3.detail"}}
    </p>
    <img src="{{.Site.BaseURL}}img/Ouroboros.svg.png" class="r-stretch" style="background-color: white;" />
  </div>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "land.4.title"}}</h4>
  <div class="r-hstack justify-left">
    <p class="withhover ws">{{T "land.4.detail"}}</p>
    <p class="hide">{{T "land.4.promised"}}</p>
    <video class="gfm" class="r-stretch" preload="metadata" data-title="speed_up" data-setup="{}" controls="true"
      src="{{.Site.BaseURL}}video/mlk.mp4" class="withhover"></video>
    <p class="hide">{{T "land.4.clue"}}</p>
  </div>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "land.5.title"}}</h4>
  <p>{{T "land.5.subtitle"}}</p>
  <div class="r-hstack  justify-left">
    <img src="{{.Site.BaseURL}}img/welding.png" height="300px" class="withhover" />
    <p class="hide">{{T "land.5.close"}}</p>
    <img src="{{.Site.BaseURL}}img/ground.png" height="300px" class="withhover" />
    <p class="hide">{{T "land.5.balance"}}</p>
    <img src="{{.Site.BaseURL}}img/ground2.jpeg" height="300px" class="withhover" />
    <p class="hide">{{T "land.5.security"}}</p>
  </div>
</section>

<section data-auto-animate>
  <h4 data-id="code-title">{{T "land.6.title"}}</h4>
  <div class="r-hstack  justify-left">
    <p>{{T "land.6.detail"}}</p>
    <img src="{{.Site.BaseURL}}img/com.png" class="r-stretch" />
  </div>
</section>