<section>
  <h4 data-id="code-title" >{{T "universal.1.title"}}</h4>
  <div class="r-hstack">
    <img src="{{.Site.BaseURL}}img/dudhc.jpg" class="withhover" height="500px"/>
    <p class="hide" >{{T "universal.1.detail"}}</p>
  </div>
</section>

<section>
  <h4 data-id="code-title" >{{T "universal.2.title"}}</h4>
  <div class="r-hstack justify-left">
    <p class="ws">
      {{T "universal.2.detail"}}
    </p>
    <div id="checkwave">

      <script src="{{.Site.BaseURL}}js/checkwaves.js" type="text/javascript"></script>
    </div>
  </div>
</section>

<section>
  <h4 data-id="code-title" >{{T "universal.3.title"}}</h4>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/stick_figure_handshake_standout_800_wht.jpg" height="300px"/>
    <img src="{{.Site.BaseURL}}img/keyvalue.png" height="300px"/>
  </div>
</section>

<section>
  <h4 data-id="code-title" >{{T "universal.4.title"}}</h4>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/ft.png" class="r-stretch withover"/>
    <p class="hide" >{{T "universal.4.detail"}}</p>
  </div>
</section>

<section>
  <h4 data-id="code-title" class="withhover" >{{T "universal.5.title"}}</h4>
  <p class="hide" >{{T "universal.5.detail"}}</p>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/galileoquote.jpg" class="r-stretch" alt="galileo">
  </div>
</section>

<section>
  <h4 data-id="code-title" >{{T "universal.6.title"}}</h4>
  <div class="r-hstack justify-left">
    <img src="{{.Site.BaseURL}}img/ancestor-chart.png" class="withhover" height="500px"/>
    <p class="hide" >{{T "universal.6.detail"}}</p>
  </div>
</section>