html,
body {
  font-family: Helvetica, sans-serif;
}
 

.wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  zoom: 1.4;
}

input {
  position: absolute;
  will-change: transform;
}

input.grow {
  animation: grow 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
  }
}

p {
  font-size: x-large;
  text-align: left;
  display: inline-block;
  padding: 10px;
}

.hide {
  display: none;
}

.notes {
  display: none;
}


.withhover:hover+.hide {
  display: block;
  color: blanchedalmond;
  position: absolute;
  /* : 0; */
  bottom: -50px;
}

canvas {
  background-color: white;
  margin: 10px;
}

.hlcursor {
  width: 600px;
  position: relative;
}

.r-hstack>img {
  margin: 10px;
}

section {
  --c1: magenta;
  --c2: grey;
  --c3: yellow;
  --ct: rgba(255, 255, 255, .1);
}

.box0 {
  background: none;
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box1 {
  background: var(--c1);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box2 {
  background: var(--c2);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box3 {
  background: var(--c3);
  width: 150px;
  height: 100px;
  margin: 10px;
}



.box21 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c2) 45%, var(--c3) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}



.box23 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c2) 45%, var(--c1) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box31 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c3) 45%, var(--c1) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box32 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c3) 45%, var(--c2) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}


.box12 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c1) 45%, var(--c2) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}

.box13 {
  background: none;
  background-image: linear-gradient(to bottom right, var(--c1) 45%, var(--c3) 55%);
  width: 150px;
  height: 100px;
  margin: 10px;
}


.pie1 {
  position: fixed;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: conic-gradient(
    var(--c1) 0% 33%,
    var(--ct) 33%);
}

.pie2 {
  position: fixed;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: conic-gradient(
    var(--ct) 0% 33%,
    var(--c2) 33% 66%,
    var(--ct) 66%);
}

.pie3 {
  position: fixed;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: conic-gradient( 
  var(--ct) 0% 66%,
      var(--c3) 66%);
}

.hollow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hollow::after {
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
}

.pushbot{
  margin-bottom: 150px;
}

.ws {
  white-space: pre-line;
}

section{
  top : 0;
}

section section{
  top : 0;
}

.slide {
  height : none;
  bottom: 20px;
}